.scroll__container{
      height: 300px;
      width: 100%;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      gap: 0px;
      scrollbar-width: thin;
      padding: 10px 0;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
}
.scroll__cards{
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      object-fit: cover;
      object-position: center;
      border-radius: 20px;
      scroll-snap-align: start;
}

@media (max-width: 924px){
      .scroll__container{
            height: 280px;
      }
}

@media (max-width: 768px){
      .scroll__container{
            height: 260px;
      }
}