
*{
      box-sizing: border-box;
}

body{
      background-color: #f5f7fa;
}

.main{
      display: flex;
      flex-direction: column;
      max-width: 1300px;
      min-height: 100vh;
      margin: 0 auto;
      padding: 0;
}

